.container {
  background-color: #0d52ff;
}

.contentWrapper {
  position: relative;

  max-width: 1304px;

  margin: 0 auto;
  padding: 0 24px;
}

.backgroundLogo {
  position: absolute;
  top: -120px;
  right: 24px;

  height: 140%;

  z-index: 0;
}

.contentContainer {
  display: flex;
  flex-direction: column;

  max-width: 600px;

  padding: 160px 0;

  font-size: 24px;

  color: white;
}

.tehlLogo {
  max-width: 32%;
  margin-bottom: 24px;
}

.headerTitle {
  font-size: 48px;
  margin-bottom: 0;
}

.headerTitle span {
  padding: 4px;
  margin-left: -4px;

  background-color: #164fe0;

  border-radius: 12px;
}

.headerText {
  max-width: 560px;
}

.screenGrab {
  position: absolute;
  right: 12px;
  top: 100px;

  height: 100%;
}

.appStoreButton {
  width: auto;
  position: absolute;
  right: 60px;
  top: 40px;
}

.appStoreButton img {
  height: 40px;
}

@media (max-width: 1120px) {
  .contentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 48px;
  }

  .contentContainer {
    align-items: center;
    text-align: center;

    padding-top: 96px;
    padding-bottom: 48px;
  }

  .tehlLogo {
    max-width: 100%;
  }

  .appStoreButton {
    position: static;
    margin-bottom: 72px;
  }

  .appStoreButton img {
    width: 192px;
  }

  .backgroundLogo {
    position: static;
    width: 50%;
    height: auto;
    margin: 0 auto;
  }

  .screenGrab {
    position: static;
    height: auto;
    width: 68%;
    margin: -78% auto 96px;
  }
}

@media (max-width: 400px) {
  .contentWrapper {
    padding: 0 12px;
  }
}
