.container {
  position: relative;
  display: flex;
  justify-content: center;

  max-width: 1304px;

  margin: 0 auto 112px;
  padding: 0 24px;

  font-size: 28px;
  font-weight: 600;
  line-height: 1.25;
}

.tehlLogo {
  position: relative;

  width: 100%;
  max-width: 752px;
  height: 620px;

  margin-top: 80px;
}

.leftHalf,
.rightHalf {
  display: flex;
  position: absolute;

  top: 0;
  left: 0;
}

.leftHalf {
  transform: translate3d(-44px, 0, 0);
}

.rightHalf {
  flex-direction: row-reverse;
  text-align: right;

  top: 180px;
  left: 0;

  transform: translate3d(44px, 0, 0);
}

.leftHalf > img,
.rightHalf > img {
  width: 56%;
  height: auto;
}

.leftHalf > p,
.rightHalf > p {
  max-width: 380px;
}

.leftHalf > p {
  margin-top: 60px;
  margin-left: 28px;
}

.rightHalf > p {
  margin-top: auto;
  margin-bottom: 60px;
  margin-right: 28px;

  color: #0d52ff;
}

.stock {
  width: 10%;
  position: absolute;
  z-index: 0;
}

.stock.one {
  bottom: 12px;
  left: 32px;
}

.stock.two {
  left: 280px;
  top: -20px;
}

.stock.three {
  bottom: 12px;
  right: 280px;
}

.stock.four {
  top: 140px;
  right: 48px;
}

@media (max-width: 1120px) {
  .stock {
    display: none;
  }

  .leftHalf {
    transform: translate3d(10%, 0, 0);
  }
  .rightHalf {
    transform: translate3d(-10%, 0, 0);
  }

  .leftHalf img,
  .rightHalf img {
    width: 40%;
  }
}

@media (max-width: 902px) {
  .container {
    font-size: 22px;
  }

  .tehlLogo {
    height: auto;
    max-width: none;
  }

  .leftHalf,
  .rightHalf {
    position: static;
    align-items: center;
  }

  .leftHalf p,
  .rightHalf p {
    max-width: none;
    text-align: center;
  }

  .rightHalf {
    flex-direction: column;
    margin-top: -20%;
    transform: translate3d(0, 0, 0);
  }

  .leftHalf {
    flex-direction: column-reverse;
    transform: translate3d(0, 0, 0);
  }

  .leftHalf img,
  .rightHalf img {
    width: 50%;
  }

  .rightHalf img {
    transform: translate3d(50%, -10%, 0);
  }

  .leftHalf img {
    transform: translate3d(-50%, 0, 0);
  }
}
