.container {
  max-width: 1304px;

  margin: 0 auto 16px;
  padding: 0 24px;
}

.cardContainer {
  display: flex;
  gap: 16px;

  padding: 0;

  list-style: none;
}

.card {
  flex: 1 1 0px;
  max-width: 440px;
  padding: 0 24px;

  border: 1px solid #dbdbdb;
  border-radius: 8px;

  font-size: 18px;

  background-color: #fbfbfb;
}

.card > h3 {
  font-size: 28px;
  font-weight: 600;
}

.imageArea {
  min-height: 360px;
}

@media (max-width: 800px) {
  .cardContainer {
    flex-direction: column;
    align-items: center;
  }
  .card {
    max-width: none;
  }
}
